

*{
    padding: 0;
margin: 0;

}
/* default */
.see{
    margin-left: 500px;
    margin-top: -51px;
}

img{
    max-width: 100%;
}

.full{
    width: 600px;
    margin:auto;


   text-transform: capitalize;

}

.mar{
    margin: 0 5px;
}
/* main */

.ayna {
	font-size: 27px;
}

/* myprofile */


.cover{
    border-top: 1px solid #ced7e6;
  

}

.cover-img {
	border-radius: 10px 10px 0 0;
	height: 162px;
	width: 100%;
}


/* coverphoto */
.img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin-top: -65px;

	margin-left: 41%;
	text-align: center;
	border: 5px solid #fff;
}

/* profilepicture */


.story{

	padding: 10px 144px;
    background:#1877f2;
    color: #fff;
    border-radius: 13px;
 
    }
 

    /* add to story */

    .people-v{
        margin-top: -29px;
      
      }


       
      .user {
        padding: 7px 32px;
        background: #eee;
        margin-right: 8px;
        border-radius: 8px;
        font-size: 20px;
    }
  


  .fbs {
        font-size: 20px;
        background: #eee;
        padding: 7px 32px;
        border-radius: 8px;
    }


    /* userdot */


    .brai{
        border-radius: 16px;
    }

/* .friend-img */




    .stalin {
        margin-left: 130px;
        text-decoration: none;
        color: black;
       }

       /* stalin */

     .sebak{
        margin-left: 105px;  
        
        text-decoration: none;
        color: black;
   
      }
     

      /* sebak */

      /*  top-friend name */
 .sapon{
    margin-left: 101px;
    text-decoration: none;
    color: black;
    }

    /* sapon */

  .asha {
       margin-left: 129px;
       text-decoration: none; 
       color: black;
   
   }
    /* .asha */

    
.width-img {
	width: 170px;
	height: 171px;
	border-radius: 9px; 
}


/* bootom-friend name  */

.see-all {
	padding: 6px 40%;
	background: #ebedf0;
	
	font-size: 16px;
	text-decoration: none;
    border-radius: 7px;
 
}

/* see-all friend */

.friend-img{
        border-top: 6px solid #d0d4d8;
  
      }

.friend-photo{
  background: #d0d4d8;
  padding: 9px 17px;
  border-radius: 38px;

}
  


/* photo img life event */
    .friend{
        border-top: 1px solid #ced7e6;
    }
    
.span {
	padding: 7px 139px;
	border: 1px solid#d0d4d8;
	border-radius: 33px;
}
.photo{
    font-size: 24px;
}


.op {
	margin-left: 46px;
	margin-top: 17px;
}

/* extra  */


/* post  */

.post{
    border-top: 6px solid #d0d4d8;
   
}

.sheris{
    border-radius: 50%;
}


.left {
	margin-left: 509px;

	font-size: 21px;
}


/* post-details  */

.po{
    border: 1px solid #f5f6f8 ;
}


.name-post {
	margin-left: 58px;
    margin-top: -51px;

}



/* updated-post */


.tex{
    padding: 3px;
    border-radius: 50%;
    font-size: 13px;
}



/* reacact */

.profile-1 {
	font-size: 17px;
}



/* profile01 */

     














/* like comment share */

.like {
	background: #eee;
	padding: 5px 72px;
	border-radius: 17px;
}


.comment {
	background: #eee;
	padding: 4px 73px;
	border-radius: 17px;
	margin: 0px 15px;
}


.share {
	background: #eee;
	padding: 4px 79px;
	border-radius: 17px;
	margin: 0px 6px;
}

/* like comment share */




/* link */



































